<%- include("layouts/header") %>
<%- include("layouts/nav") %>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="img/fotoSaya1.jpg" width="200" class="img-thumbnail rounded-circle" alt="Tegar Deyustian">
                <h1 class="display-4">Tegar Deyustian</h1>
                <p class="lead">Programmer | Student</p>
            </div>
        </div>
    </div>
    
<%- include("layouts/footer") %>
